In [1]:
import pandas as pd

In [2]:
spam = pd.read_csv('mail_data.csv')
spam.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [4]:
spam.Category.value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [26]:
spam_data = pd.get_dummies(spam['Category'],drop_first=True)

In [29]:
real_spam = pd.concat([spam,spam_data],axis=1)
real_spam.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [54]:
x = real_spam.drop(['Category','spam'],axis=1)
y = real_spam['spam']

In [66]:
x.head()

                                             Message
0  Go until jurong point, crazy.. Available only ...
1                      Ok lar... Joking wif u oni...
2  Free entry in 2 a wkly comp to win FA Cup fina...
3  U dun say so early hor... U c already then say...
4  Nah I don't think he goes to usf, he lives aro...

In [59]:
y.shape

(5572,)

In [68]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [69]:
x_train.shape

(4457, 1)

In [70]:
y_train.shape

(4457,)

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer
var_to_num = TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [46]:
x_train_after = var_to_num.fit_transform(x_train)
x_test = var_to_num.fit(x_test)

In [47]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train_after,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [1, 4457]